body{margin:0;padding:0;color:#fff;background-color:#000;background-size:cover;background-repeat:no-repeat;background-image: url('https://worm.pink/media/wormpinkwallpaper.webp')}
div{margin:1em auto;max-width:40em;padding:0 .62em}
p,pre,aside,li,.btn{font-size:1.1em}
aside{margin-left:1em}
h1,h2{text-align:center}
p,pre,li,h2{margin:.4em auto}
a{color:#ec7fac}
a:hover{color:#ff92bf}
img{display:block;margin:auto}
.tab{max-width:55em}
.flex{display:flex;flex-wrap:wrap;max-width:42em}
.card{flex:2 1 0;min-width:40%;margin:.6em;border-style:solid;border-width:.2em;border-color:#ec7fac;word-wrap:break-word;word-break:break-word;background:#101010;color:#fff}
.KILL_YOURSELF_FLEXBOX{flex:2 1 0;margin:0 .6em;min-width:43%;height:0;border-style:solid;border-width:0 .2em 0 .2em}
.btn{display:block;max-width:max-content;white-space:nowrap;margin:.9em auto;padding:.1em 1em;border-style:solid;border-width:.1em;border-radius:.2em;border-color:#505050;text-decoration:none;background-color:#000;color:#ec7fac}
a.btn:hover{border-color:#ec7fac}
.logo{max-height:6.5em;padding:1.25em}
.bigText{font-size:1.8em}
.badge,.spin1,.spin2{display:inline}
.center{text-align:center}
#panel{display:flow-root;margin:0 auto;padding:0;height:100vh;overflow-y:auto;-ms-overflow-style:none;scrollbar-width:none;max-width:65em;background-color:#000000dc}
#panel::-webkit-scrollbar{display:none}
@keyframes spin1{0%{transform:rotate(360deg)}100%{transform:rotate(0deg)}}
@keyframes spin2{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.spin1{margin-left:.2em;margin-right:.2em;max-width:1em;animation: spin1 8s infinite linear}
.spin2{margin-left:.2em;margin-right:.2em;max-width:1em;animation: spin2 8s infinite linear}
marquee img.spin2{font-size:1.2em;margin:0;animation-duration:4s !important}
@media(prefers-color-scheme: light){
body{color:#000;background-color:#fff;background-image: url('https://worm.pink/media/wormpinkwallpaperlight.webp')}
a{color:#811340}
a:hover{color:#a13360}
.card{border-color:#ec7fac;background:#ffeef5;color:#000}
.btn{background-color:#ec7fac;color:#000;border-color:#ec7fac}
a.btn:hover{color:#000;border-color:#000 !important}
#panel{background-color:#ffffffdc}
}
